[offline]
level0_home = /local_disk/data/polar_in/direct_readout/modis
ephemeris_home = /local_disk/data/polar_out/direct_readout/modis
attitude_home = /local_disk/data/polar_out/direct_readout/modis
level1b_home = /local_disk/data/polar_out/direct_readout/modis

#P1540064AAAAAAAAAAAAAA11343000923001.PDS
filetype_aqua = P1540064AAAAAAAAAAAAAA%y%j%H%M%S001.PDS
globfile_aqua = P1540064AAAAAAAAAAAAAA*001.PDS

packetfile_aqua = P154095715409581540959%y%j%H%M%S001.PDS

geofile_aqua = MYD03_A%y%j_%H%M%S
level1a_aqua = Aqua_MODIS_l1a_%y%j_%H%M%S
level1b_aqua = MYD021km_A%y%j_%H%M%S
level1b_250m_aqua = MYD02Qkm_A%y%j_%H%M%S
level1b_500m_aqua = MYD02Hkm_A%y%j_%H%M%S

#P0420064AAAAAAAAAAAAAA12009102939001.PDS
filetype_terra = P0420064AAAAAAAAAAAAAA%y%j%H%M%S001.PDS
globfile_terra = P0420064AAAAAAAAAAAAAA*001.PDS

geofile_terra = MOD03_A%y%j_%H%M%S
level1a_terra = Terra_MODIS_l1a_%y%j_%H%M%S
level1b_terra = MOD021km_A%y%j_%H%M%S
level1b_250m_terra = MOD02Qkm_A%y%j_%H%M%S
level1b_500m_terra = MOD02Hkm_A%y%j_%H%M%S

working_dir = /local_disk/src/modis_lvl1proc/work

spa_config_file = /local_disk/opt/SPA/gbad/smhi_configfile


[prod]
servername = pps.smhi.se

level0_home = /san1/polar_in/direct_readout/eos/lvl0
ephemeris_home = /san1/polar_in/direct_readout/eos/lvl1
attitude_home = /san1/polar_in/direct_readout/eos/lvl1
level1b_home = /san1/polar_in/direct_readout/eos/lvl1

#P1540064AAAAAAAAAAAAAA11343000923001.PDS
filetype_aqua = P1540064AAAAAAAAAAAAAA%y%j%H%M%S001.PDS
globfile_aqua = P1540064AAAAAAAAAAAAAA*001.PDS

packetfile_aqua = P154095715409581540959%y%j%H%M%S001.PDS

geofile_aqua = MYD03_A%y%j_%H%M%S
level1a_aqua = Aqua_MODIS_l1a_%y%j_%H%M%S
level1b_aqua = MYD021km_A%y%j_%H%M%S
level1b_250m_aqua = MYD02Qkm_A%y%j_%H%M%S
level1b_500m_aqua = MYD02Hkm_A%y%j_%H%M%S

#P0420064AAAAAAAAAAAAAA12009102939001.PDS
filetype_terra = P0420064AAAAAAAAAAAAAA%y%j%H%M%S001.PDS
globfile_terra = P0420064AAAAAAAAAAAAAA*001.PDS

geofile_terra = MOD03_A%y%j_%H%M%S
level1a_terra = Terra_MODIS_l1a_%y%j_%H%M%S
level1b_terra = MOD021km_A%y%j_%H%M%S
level1b_250m_terra = MOD02Qkm_A%y%j_%H%M%S
level1b_500m_terra = MOD02Hkm_A%y%j_%H%M%S

working_dir = /san1/modislvl1b/work

spa_config_file = /local_disk/opt/MODISL1DB_SPA/current/gbad/smhi_configfile

url_modis_navigation = http://oceandata.sci.gsfc.nasa.gov/Ancillary/LUTs/modis/

days_keep_old_etc_files = 90
days_between_url_download = 7

log_rotation_days = 1
log_rotation_backup = 5


[test]
servername = pps2.smhi.se

level0_home = /san1/polar_in/direct_readout/eos/lvl0
ephemeris_home = /san1/polar_in/direct_readout/eos/lvl1
attitude_home = /san1/polar_in/direct_readout/eos/lvl1
level1b_home = /san1/polar_in/direct_readout/eos/lvl1

#P1540064AAAAAAAAAAAAAA11343000923001.PDS
filetype_aqua = P1540064AAAAAAAAAAAAAA%y%j%H%M%S001.PDS
globfile_aqua = P1540064AAAAAAAAAAAAAA*001.PDS

packetfile_aqua = P154095715409581540959%y%j%H%M%S001.PDS

geofile_aqua = MYD03_A%y%j_%H%M%S
level1a_aqua = Aqua_MODIS_l1a_%y%j_%H%M%S
level1b_aqua = MYD021km_A%y%j_%H%M%S
level1b_250m_aqua = MYD02Qkm_A%y%j_%H%M%S
level1b_500m_aqua = MYD02Hkm_A%y%j_%H%M%S

#P0420064AAAAAAAAAAAAAA12009102939001.PDS
filetype_terra = P0420064AAAAAAAAAAAAAA%y%j%H%M%S001.PDS
globfile_terra = P0420064AAAAAAAAAAAAAA*001.PDS

geofile_terra = MOD03_A%y%j_%H%M%S
level1a_terra = Terra_MODIS_l1a_%y%j_%H%M%S
level1b_terra = MOD021km_A%y%j_%H%M%S
level1b_250m_terra = MOD02Qkm_A%y%j_%H%M%S
level1b_500m_terra = MOD02Hkm_A%y%j_%H%M%S

working_dir = /san1/modislvl1b/work

spa_config_file = /local_disk/opt/MODISL1DB_SPA/current/gbad/smhi_configfile

url_modis_navigation = http://oceandata.sci.gsfc.nasa.gov/Ancillary/LUTs/modis/

days_keep_old_etc_files = 30
days_between_url_download = 7

log_rotation_days = 1
log_rotation_backup = 10


[utv]

servername = safe.smhi.se

level0_home = /san1/polar_in/direct_readout/eos/lvl0
ephemeris_home = /san1/polar_in/direct_readout/eos/lvl1
attitude_home = /san1/polar_in/direct_readout/eos/lvl1
level1b_home = /san1/polar_in/direct_readout/eos/lvl1


#P1540064AAAAAAAAAAAAAA11343000923001.PDS
filetype_aqua = P1540064AAAAAAAAAAAAAA%y%j%H%M%S001.PDS
globfile_aqua = P1540064AAAAAAAAAAAAAA*001.PDS

packetfile_aqua = P154095715409581540959%y%j%H%M%S001.PDS

geofile_aqua = MYD03_A%y%j_%H%M%S
level1a_aqua = Aqua_MODIS_l1a_%y%j_%H%M%S
level1b_aqua = MYD021km_A%y%j_%H%M%S
level1b_250m_aqua = MYD02Qkm_A%y%j_%H%M%S
level1b_500m_aqua = MYD02Hkm_A%y%j_%H%M%S

#P0420064AAAAAAAAAAAAAA12009102939001.PDS
filetype_terra = P0420064AAAAAAAAAAAAAA%y%j%H%M%S001.PDS
globfile_terra = P0420064AAAAAAAAAAAAAA*001.PDS

geofile_terra = MOD03_A%y%j_%H%M%S
level1a_terra = Terra_MODIS_l1a_%y%j_%H%M%S
level1b_terra = MOD021km_A%y%j_%H%M%S
level1b_250m_terra = MOD02Qkm_A%y%j_%H%M%S
level1b_500m_terra = MOD02Hkm_A%y%j_%H%M%S

working_dir = /san1/modislvl1b/work

spa_config_file = /local_disk/opt/MODISL1DB_SPA/current/gbad/smhi_configfile

url_modis_navigation = http://oceandata.sci.gsfc.nasa.gov/Ancillary/LUTs/modis/

days_keep_old_etc_files = 30
days_between_url_download = 7

log_rotation_days = 1
log_rotation_backup = 5
