[datatype-pol_L0]
distribute = True
glob = *.hrpt.bz2
dir = /net/prodsat/datadb/sat/polar/smb/level0
format = hrpt
compressed = bzip
min_age = 15

[datatype-pol_L3]
distribute = True
glob = pass345*.jpg
dir = /net/prodsat/datadb/sat/polar/smb/level3/qlook
format = jpeg

[client]
rpc_address = 130.226.66.136:9334
publish_address = tcp://130.226.66.136:9336

[server]
rpc_address = 130.226.66.136:9334
publish_destination = tcp://eth0:9336

